<div>
  <div class="w-full  flex flex-row-reverse justify-between items-center ">
    <section class=" gap-2 flex flex-row-reverse">
      <img src="assets/icon/medal-star.png" class="w-12 h-12">
      <h2 class="fontTitle lg:text-text32lg text-text32Sm text-textcolor">{{titleName}}</h2>
    </section>
    <section class="hidden gap-2 lg:flex flex-row items-center">
      <img src="assets/icon/arrow-left.png" class="w-8 h-8">
      <h2 class="fontTEXT text-[3.5vw] lg:text-text16Lg  text-blue-600">مشاهده همه </h2>
    </section>
  </div>


  <div class="card">
    <p-carousel
      [circular]="true"
      [numScroll]="3"
      [numVisible]="4"
      [responsiveOptions]="responsiveOptions"
      [value]="products"
      autoplayInterval="3000">
      <ng-template let-product pTemplate="item">
        <div class="flex w-[64vw] lg:w-[19.0981vw] gap-2 lg:gap-[14px] bg-searchcolor flex-col  p-4">
          <img [src]="product.image" class="w-[57vw] lg:w-[16.9761vw]">
          <p class="fontTEXT lg:text-text16Lg text-[3.2vw]">{{product.title}}</p>
          <div class="flex flex-row items-center justify-between">
            <p class="fontTEXT lg:text-text16Lg text-[3.2vw] ">{{product.price}}</p>
            <p class="px-2 py-1 rounded-[500px] bg-botcolor text-white text-[14px] text-center">{{product.off}}</p>

          </div>  <p class="lg:text-text16Lg text-[3.2vw] fontTEXT lg:w-[7vw] w-[22vw]" style=" text-decoration-line: line-through;">{{product.Offprice}}</p>
        </div>

      </ng-template>
    </p-carousel>
  </div>

</div>
