@tailwind base;
@tailwind components;
@tailwind utilities;

html * {
  box-sizing: border-box;
}


@font-face {
  font-family: myFirstTitle;
  src: url("/assets/Lalezar-Regular.ttf");
}
@font-face {
  font-family: myFirsttext;
  src: url("/assets/Vazirmatn-VariableFont_wght.ttf");
}

.fontTitle{
  font-family: myFirstTitle, sans-serif;
  direction: rtl;
}
.fontTEXT{
  font-family: myFirsttext, sans-serif;
  direction: rtl;
}
