<!-- app.component.html -->
<div class="w-full flex flex-row-reverse lg:gap-6 ">
<div class="w-[83.5809vw] h-[20.7687vh] lg:w-[53.5809vw] lg:h-[61.7687vh]">
  <swiper-container loop="true" pagination="true" >
    <swiper-slide><img src="assets/img/Slider.png" class="l w-full"/></swiper-slide>
    <swiper-slide><img src="assets/img/Slider.png" class=" w-full"/></swiper-slide>
    <swiper-slide><img src="assets/img/Slider.png" class=" w-full"/></swiper-slide>
  </swiper-container>
</div>
  <div class=" hidden lg:w-[26.8621vw] lg:flex lg:flex-col lg:gap-6">
    <img src="assets/img/Banner%2001.png" class="h-[29.2517vh] ">
    <img src="assets/img/Banner%2002.png" class="h-[29.2517vh]">
  </div>
</div>
