<div class="w-full px-[5.8252vw] py-[5.1948vh] bg-gray-100">
  <div class="flex flex-row-reverse justify-between w-full">
    <div class="flex flex-col w-[50%] gap-2 border-gray-700">
      <div class="hidden lg:flex lg:flex-row-reverse lg:gap-2 lg:items-center">
        <img src="assets/icon/Group.png" class="w-[3.183vw] h-[6.5306vh] object-cover">
        <p class="fontTitle  lg:text-text32lg text-textcolor">گلدن شاپ</p>
      </div>
      <div class="flex flex-row-reverse items-center gap-2">
        <p>تلفن پشتیبانی ۱۱۱۱۱۱۱ - ۰۲۱</p>
        <p class="fontTEXT text-[14px] ">۷ روز هفته ۲۴ ساعته پاسخگوی شما هستیم</p>
      </div>
    </div>
    <div class=" flex flex-col">
      <button class="bg-transparent text-text16Lg border-2 border-yellow-700 rounded-[12px] px-4 py-3">بازگشت به بالا
      </button>
    </div>

  </div>
  <div class="flex flex-row mt-[48px] gap-[3vw] w-full px-[11.3808vw] items-center justify-evenly">
    <section class="w-[123px] h-[96px] flex flex-col items-center gap-1">
      <img src="assets/icon/cash-on-delivery.png">
      <p class="w-full text-[12px] text-center fontTEXT">امکان پرداخت در محل</p>
    </section>
    <section class="w-[123px] h-[96px] flex flex-col items-center gap-1">
      <img src="assets/icon/days-return.png">
      <p class="w-full text-[12px] text-center fontTEXT">7 روز ضمانت بازگشت کالا</p>
    </section>
    <section class="w-[123px] h-[96px]  flex flex-col items-center gap-1">
      <img src="assets/icon/express-delivery.png">
      <p class="w-full text-[12px] text-center fontTEXT">امکان تحویل اکسپرس</p>
    </section>
    <section class="w-[123px] h-[96px] flex flex-col items-center gap-1">
      <img src="assets/icon/original-products.png">
      <p class="w-full text-[12px] text-center fontTEXT">ضمانت اصل بودن کالا</p>
    </section>
    <section class="w-[123px] h-[96px] flex flex-col items-center gap-1">
      <img src="assets/icon/support.png">
      <p class="w-full text-[12px] text-center fontTEXT">7 روز هفته ، 24 ساعته</p>
    </section>
  </div>
</div>
