<div class="flex flex-col gap-6 h-[8.5918vh]  lg:h-[19.5918vh]  pt-[1.8095vh] lg:pt-[3.8095vh]" style="border-bottom: 1px solid #CBCBCB">
  <section class="flex flex-row-reverse items-center " >
    <div class="hidden lg:flex lg:flex-row-reverse lg:gap-2 lg:items-center">
      <img src="assets/icon/Group.png" class="w-[3.183vw] h-[6.5306vh] object-cover">
      <p class="fontTitle  lg:text-text32lg text-textcolor">گلدن شاپ</p>
    </div>
    <div
      class="hidden lg:mr-[0.7958vw] lg:gap-2 lg:p-[0.7958vw] lg:rounded-[64px] lg:w-[35.4111vw] lg:bg-searchcolor lg:flex lg:flex-row-reverse lg:items-center">
      <img src="assets/icon/search-normal.png" class="w-6 h-6 ">
      <input type="text" class="fontTEXT bg-transparent w-full" placeholder="جست و جو ...">
    </div>
    <div class="hidden lg:flex lg:flex-row-reverse lg:gap-4 lg:items-center lg:mr-[20.3687vw]">
      <img src="assets/icon/Basket.png" class="w-[3.183vw] h-[6.5306vh] object-cover">
      <button class="bg-botcolor py-[1.6327vh] px-[1.061vw] text-white fontTEXT rounded-[12px] text-text16Lg">ورود / ثبت
        نام
      </button>

    </div>
    <!-------------------------------------------------mobile------------------>
    <div class="lg:hidden flex flex-row-reverse justify-between items-center w-full">
      <div class="flex flex-row-reverse items-center">
        <img src="assets/icon/Group.png" class="w-8 h-8 object-cover">
        <p class="fontTitle  lg:text-text32lg text-textcolor">گلدن شاپ</p>
      </div>
      <div class="flex flex-row-reverse gap-2 items-center">
        <img src="assets/icon/Basket.png" class="w-8 h-8 object-cover ">
        <img src="assets/icon/icons8-search-48.png" class="w-8 h-8 bg-white rounded-lg p-1 " style="border: 1px solid #C7A579">
        <section class="lg:hidden flex flex-row">
          <app-headeritems-app></app-headeritems-app>

        </section>
      </div>
    </div>

  </section>
  <section class="hidden lg:block">
    <app-headeritems-app></app-headeritems-app>

  </section>
</div>
